* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../Images/typewrite1.jpg") center center no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
}

input, select, textarea{
  color:  rgb(2, 61, 53);;
  font-size:1.3rem;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: bolder;
}

textarea:focus, input:focus {
  color:  rgb(2, 61, 53);;
}

input[type="text"]::placeholder  {
  transition: opacity 0.3s linear; 
  color: white;
}

input[type="text"]:focus::placeholder  {
  opacity: 0;
}

h1 {
  position: relative;
  top: 130px;
  text-align: center;
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: 2.5rem;
  color: rgb(2, 61, 53);
  font-weight: bold;
}

.btn {
  border-radius: 100%;
  border: none;
  background-color: rgba(44, 37, 37, 0.6);
  width: 10%;
  height: 2rem;
  padding: 30px;
  margin: 6px;
  outline: none;
}

.btn:hover {
  animation: spin 2s linear infinite;
  width: 65px;
  height: 4rem;
  background-color: rgba(44, 37, 37, 0.8);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btncontainer {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  position: relative;
  top: 129px;
  left: 46px;
}

.fa-pencil-square {
  /* visibility: hidden; */
  font-size: 32px;
  position: relative;
  bottom: 15px;
  right: 12px;
  opacity: 0.4;
}

  .fa-hand-o-right {
    animation: clickhere 2s linear infinite;
    font-size: 36px;
    position: relative;
    top: 21px;
    /* bottom: 15px; */
    right: 8px;
}

@keyframes clickhere {
  
  50% {
    
    position: relative;
    right: 30px;
  }
}


.container1 {
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
}

input {
  padding: 20px;
  margin-bottom: 16px;
  margin-top: 30px;
  width: 600px;
  background-color: rgba(44, 37, 37, 0.6);
  outline: none;
  border: none;
}


.btn1 {
  outline: none;
  border: none;
  background-color: rgba(44, 37, 37, 0.6);
  padding: 8px;
  border-radius: 12px;
  position: relative;
  left: 40%;
}
.btn1:hover {
  background-color: rgba(59, 59, 59, 0.8);
  outline: none;
  border: none;
  
}
.submittext:hover{
  color:  rgb(255, 255, 255);
  outline: none;
}

.submittext {
  font-size: 1.2rem;
  font-family: 'Baloo Bhaina 2', cursive;
  color:  rgb(194, 199, 198);
  font-weight: bold;
  outline: none;
}

