h1 {
    font-size: 1.8rem;
    top:42px;
  }
  
  .btncontainer {
    display: flex;
    justify-content: center;
    width: 600px;
    position: relative;
    top: -7px;
 
    left: -60px;
}
  input {
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 2px;
    margin-left: 14px;
    max-width: 280px;
    background-color: rgba(44, 37, 37, 0.6);
    outline: none;
    border: none;
}
  
  
body {
    background: url("../Images/typewrite1.jpg") center center no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
  }
*{
    overflow: hidden;
}  
.container1 {
    top:65px;
    height: 32vh;
}

.btn {
    margin-right: 40px;
}
